<h1>All Users</h1>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <% @users.each do |user| %>
    <tr id="<%= user.id %>">
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td>
        <%= link_to "Delete User",
          user,
          method: :delete,
          confirm: "Are you sure?",
          class: "btn btn-danger btn-mini"  %>
    </tr>
  <% end %>
</table>
<%= link_to "Invite New User", new_user_invitation_path, class: "btn" %>
