<h1>Receipt for <%= @receipt.name %></h1>
<ul>
  <li>Phone: <%= @receipt.phone %></li>
  <li>Email: <%= @receipt.email %></li>
  <li>Address: <%= @receipt.address %></li>
  <li>City: <%= @receipt.city %></li>
  <li>State: <%= @receipt.state %></li>
  <li>Zip: <%= @receipt.zip %></li>
</ul>
